.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --pink: hsl(322, 100%, 66%);
    --pale: hsl(193, 100%, 96%);
    --dark: hsl(192, 100%, 9%);
    --grayish: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}


button {
    border-radius: 20px;
    padding: 0.625rem;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}

button:hover {
    cursor: pointer;
}

.btn {
    background-color: var(--pink);
    color: var(--pale);
    border: none;
}

.btn:active {
background-color: var(--pink);
opacity: 0.5;
}

/* header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
} */

header button {
    background-color: var(--pale);
    color: var(--dark);
    border: none;
    font-weight: 700;
}

header button:active {
    background-color: var(--pale);
    opacity: 0.5;
}

.hero {
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: var(--pale);
}

.box {
    border: solid;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 10px;
    margin-left: 6rem;
    margin-right: 6rem;
}

.together {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.together p {
    margin-top: 1.25rem;
}

.box figure {
    grid-row: 1;
}

.box img {
    width: 450px;
}

.build {
    border: solid;
    border-radius: 10px;
}

footer {
    background-color: var(--dark);
    width: 100%;
    color: var(--pale);
    padding:  6rem 4rem 4rem 4rem;
}

.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.copyright {
    float: right;
    font-size: 12px;
}

.one {
    display: inline-flex;
}

.one img {
    width: 700px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.first p {
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
}

.two {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 8.50rem;
    margin-bottom: 9rem;
}

.middle {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.build {
    width: 600px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: inline-flex;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.about ul,
.career ul {
    list-style-type: none;
    font: 400 18px/71px 'Open Sans', sans-serif;
    margin-top: 1rem;
}

.about a,
.phone a,
.email a,
.career a {
    text-decoration: none;
}

.second,
.third,
.fourth {
    width: 25%;
    display: flex;
    justify-content: center;
}

.fourth {
    margin-top: 1rem ;
}

.fourth img {
    margin: .625rem;
}

.location,
.phone,
.email {
    display: inline-flex;
}

.location p,
.phone a,
.email a {
    padding-left: 1rem;
}

.location {
    margin-top: 2rem;
}

.phone {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a {
    color: var(--pale);
}
