.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --pink: hsl(322, 100%, 66%);
    --pale: hsl(193, 100%, 96%);
    --dark: hsl(192, 100%, 9%);
    --grayish: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}


button {
    border-radius: 20px;
    padding: 0.625rem;
}

button:hover {
    cursor: pointer;
}

.btn {
    background-color: var(--pink);
    color: var(--pale);
    border: none;
}

header {
    display: inline-flex;
    align-items: center;
}

header button {
    background-color: var(--pale);
    color: var(--dark);
    border: none;
}

.hero {
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: var(--pale);
}

.box {
    border: solid;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 10px;
    margin-left: 6rem;
    margin-right: 6rem;
}

.together {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.together p {
    margin-top: 1.25rem;
}

.box figure {
    grid-row: 1;
}

.box img {
    width: 450px;
}

.build {
    border: solid;
    border-radius: 10px;
}

footer {
    background-color: var(--dark);
    width: 100%;
}

.one {
    display: inline-flex;
}

.one img {
    width: 700px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.first p {
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
}

.two {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 8.50rem;
}

.middle {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bottom {
    display: inline-flex;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.about ul,
.career ul {
    list-style-type: none;
}

.about a,
.phone a,
.email a,
.career a {
    text-decoration: none;
}